# dependencies
/node_modules

# build output
/dist
/build

# environment files
.env

# logs
*.log

# IDE settings
/.idea/
/.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# npm package lock file (if you want to ignore it)
# package-lock.json

# Yarn lock file (if you use Yarn instead of npm)
# yarn.lock
